body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
  }
  
  .image {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .description {
    text-align: center;
    color: #333;
    margin-top: 20px;
  }
  
  #join {
    text-align: center;
    color: #333;
    margin-top: 20px;
  }
  
  input {
    margin: 10px;
  }
  
  button {
    margin: 10px;
  }

  form {
    text-align: center;
  }