body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    }
h2 {
margin: 0 auto;
font-size: 35px;
margin: 10px;
color: white;
}
h1{
    color: white;
}
#no-move{
    
    color: white;
    text-align: center;
}

.hidden{
    display:none;
}
.flex-container {
/* In order to use flex-box we need to first set our display property */
display: flex;
/* center the container horizontally */
justify-content: center;
/* this will center content vertically */
align-items: center;
/* tells the container to align the children in columns rather than rows */
}
.flex-column {
height: 100%;
width: 100%;
flex-direction: column;
}
.flex-wrap {
/* tells the container to drop down once it reaches max-width */
flex-wrap: wrap;
height: 432px;
width: 432px;
}
.square {
display: flex;
border: 2px solid rgb(255, 255, 255);
height: 140px;
width: 140px;
color: white;
text-align: center;
justify-content: center;
align-items: center;

}

#reset-button {
text-align: center;
font-size: 20px;
border: 1px solid black;
height: 55px;
width: 100px;
margin: 10px;
}