body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    }
h2 {
margin: 0 auto;
font-size: 35px;
margin: 10px;
color: white;
}
h1{
    color: white;
}
#no-move{
    
    color: white;
    text-align: center;
}

.hidden{
    display:none;
}
.flex-container {
/* In order to use flex-box we need to first set our display property */
display: flex;

/* center the container horizontally */
justify-content: center;
/* this will center content vertically */
align-items: center;
/* tells the container to align the children in columns rather than rows */

margin-bottom: 100px;

}
.flex-column {
height: 100%;
width: 100%;
flex-direction: column;
}
.flex-wrap {
/* tells the container to drop down once it reaches max-width */
flex-wrap: wrap;
height: 90vw; /* Adjust based on your preference, but keep it responsive */
width: 90vw; /* This makes the board responsive */
max-width: 432px; /* Maximum size to ensure it doesn't get too big */
max-height: 432px; /* Keep the aspect ratio */
}
.square {
display: flex;
border: 3px solid rgb(255, 255, 255);
height: 35%; /* Each square takes up one-third of the container */
width: 30%; /* Same for width, maintaining aspect ratio */
font-size: 6vw; /* Adjust font size based on screen size */
color: white;
text-align: center;
justify-content: center;
align-items: center;

}

#reset-button {
text-align: center;
font-size: 20px;
border: 1px solid black;
height: 55px;
width: 100px;
transition: visibility 0s, opacity 0.2s linear;
}
#reset-button:hover {
    opacity: .8;

}


.model {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0%;
    top: 0%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(248, 248, 248, 0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .model-content {
    border-radius: 25px;
    background-color: #000000;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 40% auto ; /* Could be more or less, depending on screen size */
    height: 40% ; /* Could be more or less, depending on screen size */
  }

.choice{
    border-radius: 25px;
    font-size: 80px;
    width: 40% ;
    height: 60%  ;
    background-color: rgb(255, 251, 251);
    margin: 0 auto;
    transition: visibility 0.2s opacity 0.2 linear;
}

.choice:hover{
    opacity: .2;
}

  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  @media (max-width: 768px) { 
    

    .model-content{

      color:  black;
    }
  }
  